.checkbox {
  display: flex;
  position: relative;
  align-items: center;
}

.checkbox::before {
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $color-grey-500;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__input {
  position: absolute;
}

.checkbox__input:checked + .checkbox__control-mark {
  background-image: url("../img/checked.svg");
}

.checkbox__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $color-grey-500;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__control-mark:hover {
  border: 1px solid $color-grey-550;
}

.checkbox__input:focus + .checkbox__control-mark {
  outline: 2px solid $color-grey-600;
}

.checkbox__input:disabled + .checkbox__control-mark {
  opacity: 0.3;
}

.checkbox__control-label {
  margin-left: 16px;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
}
