.example {
  background-color: $color-grey-400;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $color-grey-400 462px, $color-white 462px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, $color-grey-200 462px, $color-white 462px);
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 65px;
    margin-bottom: 0;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-bottom: 40px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    line-height: 60px;
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    margin-bottom: 83px;
  }
}

.example__text {
  font-family: $font-main;
  color: $color-grey-600;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
  }
}

.example__description-statistics {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 13px;
  margin-left: 0;
  order: 1;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 15px;
  }
}

.example__description-text {
  font-family: $font-main;
  color: $color-grey-600;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  order: 2;
  width: 82px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
  background-color: $color-grey-400;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
    width: auto;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-grey-200;
  }
}

.example__description-result {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    margin-top: 11px;

    span:first-child {
      margin-bottom: 9px;
      margin-top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    justify-self: start;
    flex-direction: row;
    margin-top: 37px;
    margin-bottom: 0;

    span:last-child {
      margin-left: 66px;
      margin-top: 2px;
    }
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 11px;
}

.example__list-item {
  border: 1px solid $color-grey-500;
  border-radius: 3px;
  width: 124px;
  height: 56px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__statistic {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 366px 1fr;
    padding-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 17px;
    padding-bottom: 0;
  }
}

.example__image-slider {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
