.example {
  background-color: $color-grey-400;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 63px;
  }
}

.example__text {
  font-family: $font-main;
  color: $color-grey-600;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
  }
}

.example__description-statistics {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
}

.example__description-text {
  font-family: $font-main;
  color: $color-grey-600;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.example__description-result {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 11px;
}

.example__list-item {
  box-sizing: border-box;
  border: 1px solid $color-grey-500;
  border-radius: 3px;
  width: 124px;
  height: 56px;
}

.example__statistic {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.example__image-slider {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}
