.form {
  overflow: hidden;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form__page {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 0;
  padding-bottom: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}

.form__button {
  font-family: $font-second;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  grid-column: 1/3;
  margin-top: 3px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.form__text {
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  grid-column: 1/3;
  padding-top: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    padding-top: 0;
    justify-self: start;
    font-size: 16px;
    padding-bottom: 0;
    align-self: center;
    margin-bottom: 8px;
  }
}

.form__group {
  padding: 0;
  margin: 0;
}

.form__group-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 21px;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    column-gap: 64px;
    margin-top: 41px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 84px;
    margin-top: 49px;
    margin-bottom: 83px;
  }
}
