.form-group__inner {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-group--contacts .form-group__inner {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-group__field {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 8px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-group__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-black;
  text-transform: none;
  padding-bottom: 25px;
  margin-bottom: 5px;
  background-color: $color-white;
  padding-right: 14px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 70px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.form-group--contacts .form-group__title {
  @media (max-width: $mobile-width-only) {
    max-width: 200px;
  }
}

.form-group--contacts {
  position: relative;
  color: $color-grey-600;
  margin-top: 26px;
  padding-bottom: 23px;
  margin-left: 0;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-top: 0;
    padding-bottom: 67px;
  }
}

.form-group__title--field {
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding-left: 39px;
    padding-right: 42px;
    margin-left: -39px;
  }
}

.form-group--contacts::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-500;
  height: 2px;
  align-self: center;
  top: -71px;
  z-index: -1;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    top: -89px;
    left: calc(50% - 50vw);
  }
}

.form-group__field--comment {
  position: relative;
}

.form-group__field--comment::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-500;
  height: 2px;
  align-self: center;
  top: 11px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: calc(230% - 50vw);
  }

  @media (min-width: $desktop-width) {
    top: 13px;
  }
}

.form-group--questionary {
  padding-top: 37px;
  padding-bottom: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }
}
