.form-program {
  font-size: 20px;
  line-height: 30px;
  color: $color-grey-700;
  border-top: 1px solid $color-grey-150;
  border-bottom: 1px solid $color-grey-150;
  padding-top: 22px;
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-grey-150;
    margin-top: 48px;
    padding-top: 25px;
    margin-bottom: 75px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin-top: 15px;
    margin-bottom: 69px;
  }
}

.form-program__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
  }
}

.form-program__item {
  margin-bottom: 13px;
}
