.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.form__button {
  display: block;
  line-height: 0px;
  min-width: 280px;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    min-width: 282px;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}

.form__text {
  font-family: $font-main;
  font-size: 16px;
  line-height: 16px;
  font-style: 400;

  @media (min-width: $tablet-width) {
    margin-left: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 84px;
  }
}

.form__group-button {
  display: flex;
}
