.form-options {
  position: relative;
  border: none;
}

.form-options::before {
  content: "";
  position: absolute;
  width: 100vw;
  background-color: $color-green-500;
  height: 2px;
  align-self: center;
  top: -45px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: -70px;
    left: calc(50% - 50vw);
  }
}

.form-options__title {
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 34px;
  padding-right: 23px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 56px;
    padding-right: 41px;
  }
}

.form-options__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 55px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form-options__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
