.form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 38px;
  padding-bottom: 39px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 20px;
  }
}

.form__button {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  grid-column: 1/3;
  margin-top: 5px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
  }
}
// странная кнопка
.form__text {
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  grid-column: 1/3;
  padding-top: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    padding-top: 0;
    justify-self: start;
    font-size: 16px;
    padding-bottom: 0;
    align-self: center;
  }
}

.form__group {
  padding: 0;
}

.form__group-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 21px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    column-gap: 64px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 84px;
  }
}
