.form-options {
  border: none;
}

.form-options__title {
  font-size: 24px;
  line-height: 26px;
}

.form-options__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 64px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form-options__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
