.main-nav {
  grid-column: 1/4;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: $color-white;
  }
}

.main-nav--closed:not(.main-nav--nojs) .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
