.main-nav {
  grid-column: 1/4;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

// Пыталась выровнять и сетку строила гридовую, но не получилось(

.main-nav__list {
  margin: 0;
  padding: 0;
}

// .main-nav--closed {
//   display: none;
// }
