.offer__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.offer__inner {
  background-color: $color-grey-200;
  padding-top: 27px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 18px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 312px;
    padding-left: 52px;
    padding-top: 61px;
    padding-bottom: 56px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 61px;
    margin-top: 53px;
    padding-bottom: 58px;
  }
}

.offer__title {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 3px;
  padding-left: 69px;

  @media (min-width: $tablet-width) {
    padding-left: 1px;
    padding-top: 15px;
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-bottom: 73px;
  }
}

.offer__title--thin::before {
  content: "";
  position: absolute;
  background-image: url("../img/cat-back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  right: 0;
  bottom: 22px;
  left: 0;
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 200px;
    height: 212px;
    left: auto;
    top: 17px;
    right: -251px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    right: auto;
    left: 0;
    top: -21px;
  }
}

.offer__title--weight::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../img/cat-back-big.svg");
  background-size: 100%;
  right: 0;
  bottom: 21px;
  left: -8px;
  width: 67px;
  height: 50px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 268px;
    height: 200px;
    top: 30px;
    left: auto;
    right: -285px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 106px;
    right: auto;
    left: -19px;
    top: -16px;
  }
}

.offer__description {
  font-family: $font-main;
  color: $color-grey-600;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-grey-300;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.offer__link {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.offer__link::after {
  content: "";
  display: block;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: -8px;
  width: 32px;
  height: 12px;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    margin-top: 10px;
  }
}

.offer__link:hover::after {
  background-position: 0 0;
}

.offer__link:active {
  opacity: 0.3;
}
