.order-form__group {
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  line-height: 18px;
}

.order-form__group-inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
