.page-footer {
  background-color: $color-grey-200;
}

.page-footer__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 48px;
    padding-bottom: 50px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 14px;
  padding-top: 19px;
  border-bottom: 1px solid $color-grey-300;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: none;
    justify-content: left;
  }
}

.page-footer__logo-link {
  @media (min-width: $tablet-width) {
    width: 143px;
    height: 46px;
  }
}

.page-footer__logo-image {
  color: $color-grey-900;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }
}

.page-footer__logo-image:active {
  color: $color-grey-650;
}

.page-footer__logo-image:focus {
  color: $color-grey-900;
}
