.product__wrapper {
  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.product__list {
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.product__reloading {
  display: block;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 324px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-900;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.product__description {
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-600;
  margin: 0;
  padding-bottom: 21px;
}

.product__button {
  color: $color-grey-600;
  background-color: $color-grey-200;
}
