.product__list {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product__reloading {
  display: block;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 17px;
  margin-top: 10px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: auto auto;
  border-bottom: 1px solid $color-grey-100;

  @media (min-width: $tablet-width) {
    background-size: 60px 60px;
    background-position: 50% 52px;
    display: grid;
    align-items: end;
    padding-top: 0;
    padding-right: 37px;
    padding-bottom: 39px;
    padding-left: 39px;
    border: 2px solid $color-grey-200;
    margin-top: 74px;
  }
}

.product__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-grey-900;
  text-transform: uppercase;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-top: 140px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 5px;
  }
}

.product__description {
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-600;
  margin: 0;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 66px;
  }
}

.product__button {
  color: $color-grey-600;
  background-color: $color-grey-200;
}

.product__button:hover {
  background-color: $color-grey-100;
}

.product__button:active {
  background-color: $color-grey-100;
  opacity: 0.3;
}
