.selection {
  color: $color-white;
  background-color: $color-green-500;
}

.selection__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 41px;
  }
}

.selection__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 302px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.selection__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
}
