.selection {
  color: $color-white;
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-image:
    url("../img/index-background-desktop2.png"),
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 300px, $color-white 300px);

  @media (min-width: $tablet-width) {
    color: $color-black;
    background-color: $color-white;
    background-image: none;
  }
}

.selection__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 27px;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 41px;
  }
}

.selection__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.selection__image {
  display: block;
  margin: 0 auto;
}

.selection__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
}
