.site-list {
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.site-list__item {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  border-top: 1px solid $color-grey-100;
}
