.site-list {
  list-style: none;
}

.site-list__item {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  border-top: 1px solid $color-grey-100;

  @media (min-width: $tablet-width) {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
    border: none;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item:not(.site-list__item--active):hover {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}


.site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green-500;
  }
}

.site-list__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $color-white;
  }
}

.site-list__link {
  display: block;
  padding-top: 21px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 4px;
  }
}

.site-list__link--current {
  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}
