.site-list {
  margin: 0;
  list-style: none;
}

.site-list__item {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  border-top: 1px solid $color-grey-100;
}
