.slider-cat {
  display: grid;
  justify-content: center;
}

.slider-cat__wrapper {
  display: grid;
  overflow: hidden;
  grid-template-columns: 50% 0 1fr;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    justify-self: end;
    margin-top: 12px;
  }

}

.slider-cat__images {
  display: flex;
  overflow: hidden;

  img {
    max-width: none;
  }
}

.slider-cat__images--next {
  justify-content: end;
}

.slider-cat__image {
  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider-cat__range {
  position: relative;
  width: 4px;
  border-radius: 2px;
  background-color: $color-grey-800;
  border: none;
  padding: 0;
  justify-self: center;
}

.slider-cat__range:hover {
  background-color: $color-green-500;
}

.slider-cat__range:active {
  background-color: $color-green-700;
  opacity: 0.6;
}

.slider-cat__handle {
  position: absolute;
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  top: 108px;
  left: -18px;
  color: $color-grey-800;
  background-color: $color-white;
  border: 2px solid $color-grey-800;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 236px;
  }
}

.slider-cat__range:hover .slider-cat__handle {
  color: $color-green-500;
  border-color: $color-green-500;
}

.slider-cat__range:active .slider-cat__handle {
  color: $color-green-700;
  border-color: $color-green-700;
  opacity: 0.6;
}
