.social {
  padding-top: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid $color-grey-300;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 5px;
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 5px;
}

.social__link:hover {
  color: $color-green-500;
}

.social__link:active {
  opacity: 0.3;
}

.social__link-icon {
  width: 28px;
  height: 22px;
}
