.social {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-grey-300;
}

.social__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin: 5px;
}

.social__link {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.social__link-icon {
  width: 28px;
  height: 22px;
}
