.social__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__link {
  width: 30px;
  height: 30px;
}

.social__link-icon {
  width: 28px;
  height: 22px;
}
