.specifications {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-grey-600;
  margin: 0;
  margin-top: 3px;
  align-content: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 32px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    padding-bottom: 31px;
    margin-right: 3px;
  }
}

.specifications__meaning {
  margin: 0;
  text-align: end;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid $color-grey-500;
  }
}

.specifications__term {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid $color-grey-500;
  }
}
