.button {
  display: block;
  padding: 11px;
  color: $color-white;
  background-color: $color-green-500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  background-color: $color-green-700;
}

.button:active {
  color: $color-white 0.3;
}
