.button {
  display: block;
  width: 280px;
  padding: 10px 109px;
  color: $color-white;
  background-color: $color-green-1000;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
