// color

$color-red-700:#ff8282;
$color-green-700: #5eaa2f;
$color-green-500: #68b738;
$color-green-600: #64a73b;
$color-white: #ffffff;
$color-grey-100: #e6e6e6;
$color-grey-150: #e7e7e7;
$color-grey-200: #f2f2f2;
$color-grey-300: #d9d9d9;
$color-grey-400: #eaeaea;
$color-grey-500: #cdcdcd;
$color-grey-550: #bababa;
$color-grey-600: #444444;
$color-grey-650: #6b6b6b;
$color-grey-700: #222222;
$color-grey-800: #666666;
$color-grey-850: #3e3e3e;
$color-grey-900: #111111;
$color-black: #000000;

// fonts

$font-main: "Lato", "Arial", sans-serif;
$font-second: "Oswald", "Arial", sans-serif;


// viewports

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
