// color

$color-white: #ffffff;
$color-green-500: #68b738;
$color-grey-100: #e6e6e6;
$color-grey-150: #e7e7e7;
$color-grey-200: #f2f2f2;
$color-grey-300: #d9d9d9;
$color-grey-400: #eaeaea;
$color-grey-600: #444444;
$color-grey-700: #222222;
$color-grey-900: #111111;
$color-black: #000000;

// fonts
$font-main: "Oswald", "Arial", sans-serif;
$font-second: "Lato", "Arial", sans-serif;
